*{
    background-color:#000 ;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
.scrollBtn {
    cursor: pointer;
}
header img{
    height: 70px;
    width: 150px;
    margin-left: 200px;
    margin-top: 15px;
    display: inline-block;
}
header ul {
    display: inline-block;
    margin-left: 150px;
    position: absolute;
    top: 38px;
    right: 200px;
}
header ul li{
    display: inline-block;
    margin-left: 10px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding:15px;
    padding-top: 100%;

}
.HireMe{
padding: 12px;
border-radius: 8px;
background-color: #ff4900;
}
header .HList :hover,:focus
{
    background-color: #ff4900;
}
.section1{
    background-image: url("./Index/Untitled1.png");
    height: 435px;
    background-size: cover;
    background-repeat:no-repeat ;
    margin-top: -17px;
    margin-left: 0px;  
    padding-left: 200px;
    color: white;
    padding-top: 150px;
   
}
.section1 div{
    background: transparent;
    width: 120px;
    height: 30px;
    background:#ff4900 ;
    text-align: center;
    padding-top:13px;
    font-size: 14px;
}
.section1 .img1{
    margin-left: 41.5px;
    width: 17px;
    height: 16px;
}
.section1 h1{
    background: transparent;
    font-weight: 2000;
    font-size: 50px;
}
.section1 p{
    background: transparent;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.section1  .CV{
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    padding: 22px;
    color: white;
    background-color: #ff4900;
}
.section1 span{
    border-radius: 5px;
    background: transparent;
    padding: 19.5px 25px;
    border: 1px solid white;
    margin-left: 10px;


}

.section1 .img2{
    margin-top: 157px;
    margin-left: 153px;
    position: absolute;
    background: transparent;
}
.section1 .img3{
    height: 70px;
    position: absolute;
    background: transparent;
    margin-top: 143px;
    margin-left: 140px;
}
.section2{
    margin: 0 200px;
    margin-top: 150px;
    margin-bottom: 0px;
    
}
.section2 img{
    width: 550px;
    height: 550px;
    margin-right: 80px ;
    display: inline-block;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  padding-top: 50px;
}
.section2 .text2{
    color: white;
    display: inline-block;
    position: absolute;
    margin-right: 200px;
    padding-top: 50px;
}
.section2 div h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section2 div p{
    font-size: 12px;
    line-height: 19px;
}
.section2 div h6{
    margin-top: 29px;
    font-size: 12px;
}
.section2 .text2 div {
background-color:#707070;
height: 4.5px;
margin: 20px 0;

 }
.section2 .text2 div div{
    height: 4.5px;
}
.section2 .text2 div .Wordpress{
    width: 80%;
    transition: width 500ms ease-in-out;
    background-color: #ff4900;
} 
.section2 .text2 div .HTML{
    width: 75%;
    background-color: #ff7004;
}
.section2 .text2 div .PHP{
    width: 85%;
    background-color: #ff9809;
}
.section2 .text2 div .CSS{
    width: 95%;
    background-color: #ffbf0f;
    margin-bottom:100px;
}

.section2 .text2 .Hireme{
font-size: 15px;
padding: 16px 40px;
background-color: #ff4900; 
text-decoration: none;
color: white;
border-radius: 7px;
margin-top: 58px;
position: absolute;
}
.section2 .text2 .Aboutme{
    font-size: 15px;
padding: 15px 40px;
text-decoration: none;
color: white;
border-radius: 7px;
margin-top: 58px;
border: 1px solid white;
position: absolute;
margin-left: 159px;
}
.section2 .experience{
    background: #111111;
    height:133px ;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    margin-top: -100px;
    margin-left: -50px;
    
}
.section2 .experience .vijat
{
    width: 150px;
    height: 32px;
    background: transparent;
    margin-left: 25px;
    padding-top: 0px;
}
.section2 .experience h4{
color: white;
font-weight: bold;
font-size: 20px;
background: transparent;
margin-left: 25px;
}
.section2 .experience h4 span{
    background: transparent;
    font-size: 25px;
}
 .OurServices{
    margin:150px 200px;
    color: white;
}
 .line{
    height: 70px;
   margin-left: 480px;
}
.OurServices h2{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
 .OurServices p{
    font-size: 12px;
    line-height: 25px;
    padding: 20px 100px;
    text-align: center;
}
.section3 .OurServices a{
    width: 200px;
    text-decoration: none;
    background-color: #111111;
    color: white;
 display: inline-block;
    width: 265px;
    margin-right: 25px;
    padding: 10px;
   
    border-radius: 3px;
    margin-bottom: 25px;
}
.section3 .OurServices a span{
   position: absolute;
   background: transparent;
   margin-top: 20px;
   margin-left: 10px;
}
.section3 .OurServices a .arrow{
    background: transparent;
    width: 30px;
    float: right;
    margin-top: 25px;
}
.section3 .OurServices a .Logo{
    width: 25px;
    height: 25px;
    background: transparent;
}
.section3 .logo{
    width: 25px;
    height: 25px;
    background: url("./Index/Ellipse\ 25.png");
    background-size: contain ;
    padding: 15px;
}
.section3 .ViewAll{
    width:165px;
    margin-left: 400px;
    padding: 20px 45px;
    color: white;
    border-radius: 5px;
    background-color: #ff4900;
    margin-bottom :20px; ;
border: none;
}
#more{
    display: none;
}
.section4 .background{
    background-image: url( "./Index/shutterstock_696061426.png");
    height: 450px;
    opacity: 0.1;
    margin-bottom: 0;
}
.section4 .text{
    position: absolute;
    background: transparent;
    color: white;
    margin: 0 150px;
margin-top: -280px;

}
.section4 .text h2 {
    background: transparent;
    color: white;
    display:inline-block ;
    margin-left: 25px;
    background: #111111;
    height: 110px;
    width: 220px;
    font-size: 20px;
    text-align: center;
  border: 0.3px dashed  #707070;
  border-width: 2.5px;
  border-radius :10px; 
  padding-top: 40px;
}
.section4 .text h2 span{
    background: transparent;
    font-size: 35px;
    display: flex;
    margin-left: 84px;
    font-weight: 900;
}
.section4 .text h2:hover{
    background: #ff4900;
    border-color: #ff4900;
}
.section5 ul{
    margin-left: 280px;
}
.section5 ul li{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 10px;
    margin-right: 20px;
    padding: 5px;
}
.section5 .foto{
    height: 300px;
    width: 270px;
margin-left: 20px;
margin-top: 20px;
 display: inline-block;
 background:url("./Index/1.png");
 border-radius: 10px;

}
#foto1{
    background: url("./Index/3b8036b8a3b3e4e8692f3a79e549efc7.png");
}
#foto2{
    background: url("./Index/dribbble_attachment.png");
}
.section5 .foto p{
    background: transparent;
    padding: 0;
    padding-top: 25px;

}
.section5 .foto h5{
    background: transparent;
    padding-top: 50px;


}
.section5 .foto h6{
    background: transparent;
    font-size: 10px;

}
.section5 .foto img{
    background: transparent;
    padding-top: 0px;

}
.section5 #all{
    border-bottom: #ff4900 solid 2px;
    color: #ff4900;
}
.section5 .foto div{
    background-color: rgba(255, 73, 0, 0.9);
    height: 300px;
    width: 270px;
    padding: 0;
    text-align: center;
 display: none;
 position: absolute;
 border-radius: 10px;
 
}
.section5 .foto:hover .Text5 {
   display: inline-block;
}

.section7 img{
    height: 380px;
    width: 100%;
    opacity: 0.15;
}
.section7 div{
    margin-top: -250px;
    color: white;
    text-align: center;
}
.section7 div h6{

    font-size :15px ;
    margin-bottom: 15px;

}
.section7 div h3{
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: bolder;
}
.section7 div button{
    padding: 20px 45px;
    border-radius: 5px;
    margin-bottom :20px; 
border: none;
opacity: 1;
color: white;
cursor: pointer;
background: #ff4900;
}
.section8 .fotot{
   margin-left: 200px;
   margin-top: -100px;
}
.section8 .text8{
    display: inline-block;
   width: 273px;
   margin-right: 40px;
   background: rgba(17, 17, 17, 1);
   color: white;
   padding: 10px;
   
   
}
.section8 .text8 h3{
    background: transparent;
    font-size: 15px;
    padding: 10px 0;

}
.section8 .text8 h5{
    background: transparent;

}
.section8 .text8 h6{
    background: transparent;
    padding-bottom: 10px;

}
.section8 .text8 h6 img{
    background: transparent;
width: 20px;
height: 10px;
padding-top:3px ;
position: absolute;
padding-left: 5px;
}
.section8 .text8 .img8{
    width: 293px;
    margin-left: -10px;
    margin-top: -10px;
}
.section6  .text81{
    
    color: white;
    display: inline-block;
    background: rgba(17, 17, 17, 1);
    text-align: center;
    margin-top: 70px;
}                                                                                                              .section6 .img6{
    background:transparent;
    height: 120px;
    width: 120px;
    margin-top: -60px;
}    
.section6 h4{
    background: transparent;
    color: #ff4900;
}
.section6 h5{
   background: transparent;
}
.section6 p{
    background: transparent;
    margin-bottom: 30px;
}
.section6 .img61{
    background: transparent;
    position: absolute;
    margin-left: -390px;
    margin-top: -20px;
    width: 15px;
    height: 60px;
}
.section6 .img62{
    background: transparent;
    position: absolute;
    margin-left:320px ;
    margin-top: -100px;
    width: 15px;
    height: 60px;
}
footer{
    background:rgba(6, 6, 6, 1);
    margin-top: 50px;
}
footer #ContactUs{
    display: inline-block;
    background: transparent;
}
footer .ContactUs
{
    color: white;
    margin-left: 200px;
    width: 450px;
    display: inline-block;
    margin-top: 80px;
    background: transparent;
}
footer .ContactUs h2{
    font-weight: bolder;
    margin-bottom: 20px;
    background: transparent;
}
footer .ContactUs p{
    font-size: 12px;
    background: transparent;
}
footer .ContactUs div{
    margin: 30px 0;
    width: 300px;
    margin-left: 30px;
    background: transparent;

}
footer .ContactUs div h6{
    color: rgba(107, 107, 107, 1);
    background: transparent;
}
footer .ContactUs div h3{
    background: transparent;
    font-size: 15px;
}
footer .ContactUs div img{
    display: inline-block;
   position: absolute;
   margin-left: -30px;
   margin-top: 5px;
   background: transparent;
}
footer  .findmeon{
    background: #ff4900;
    height: 40px;
    width: 410px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
}
footer h4{
    background:rgba(6, 6, 6, 1);
    color: white;
    margin-left: 250px;
    margin-bottom: 10px;
}
footer  .findmeon img{
    height: 25px;
    width:25px;
background:transparent;
float: right;
padding:8px;
}
footer .Drop_a_Line{
    display: inline-block;
    position: absolute;
    background: transparent;
    color: white;
    margin-top:70px ;
    margin-left: 20px;
}
footer .Drop_a_Line h2{
    background: transparent;
}
footer .Drop_a_Line input{
    background: #000;
    border:rgba(51,51,51,1);
    width:250px;
    height: 60px;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}
footer .Drop_a_Line .input1{
    height: 120px;
    width: 510px;
}
footer .Drop_a_Line button{
    display: block;
    padding: 12px 25px;
    background: #ff4900;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}